/* Reservia Stylesheet */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  width: 90%;
  margin: auto;
  text-align: left;
}
ul {
  list-style: none;
  padding: 0px;
}
h1 {
  font-weight: bold;
  font-size: 1.3em;
}
h2 {
  font-weight: bold;
  font-size: 1.1em;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header img {
  max-width: 10%;
  align-self: center;
}
header ul {
  display: flex;
  width: fit-content;
  padding: 0;
  flex-flow: row nowrap;
  align-items: center;
}
header li {
  margin: 0px 30px;
  font-weight: bold;
  font-size: 1.1em;
}
header a {
  color: black;
  text-decoration: none;
}
header a:hover {
  color: #0065fc;
  text-decoration: overline;
}
strong {
  color: #0065fc;
  font-weight: bolder; /*le bolder ne fait pas plus gras que le bold ? faut-il déclarer une police "raleway Bold" en plus ??*/
}
#results {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-start;
}
span i {
  font-size: 1.5em;
}
aside {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
aside img {
  width: 50%;
  height: 50%;
  position: relative;
  top: 5px;
  right: 5px;
}
body article {
  flex-flow: row wrap;
  width: 30%;
  height: 30%;
}
#accomodation {
  max-width: 50%;
  max-height: 300px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
#accomodation img {
  width: 50%;
  height: 50%;
}
aside,
footer,
#accomodation {
  background-color: #f2f2f2;
}
footer {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
footer article {
  width: 33%;
  padding: 20px;
}
