/* Reservia Stylesheet */

/*!!!FAIRE LE MENAGE DES PROPES EVENTUELLEMENT EN DOUBLON*/

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.7em;
}
main {
  width: 90%;
  margin: auto;
  text-align: left;
}
ul {
  list-style: none;
  padding: 0px;
}
h1 {
  font-weight: bold;
  font-size: 1.1em;
}
h2 {
  font-weight: bold;
  font-size: 0.9em;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 0px auto;
}
header img {
  width: 10%;
  align-self: center;
}
header ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header li {
  padding: 20px; /*border far over the text - do not choose overline*/
}
header li:hover {
  border-top: 2px #0065fc solid;
  color: #0065fc;
}
header a {
  color: black;
  text-decoration: none; /*remove the link's underline*/
}
header a:hover {
  color: #0065fc;
}
strong {
  color: #0065fc;
  font-weight: bold;
}
#recherche h1,
p {
  margin: 5px;
}
form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
  width: 35%;
  height: 30px;
  margin: 10px 0px;
  border: 1px #f2f2f2 solid;
  border-radius: 10px 10px;
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#iloc {
  background-color: #f2f2f2;
  width: 15%;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
  vertical-align: middle;
}
::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 0.8em;
  padding: 5px;
}
#itxt {
  width: 55%;
}
#itxt input {
  width: 100%;
  border: none;
}
#ibut {
  width: 30%;
}
#ibut input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #0065fc;
  color: #f2f2f2;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}
#isea {
  width: 5%;
}
#filtres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 30px;
  margin: 10px 0px;
  border: none;
}
.filtre {
  position: relative; /* parent below his childs */
  width: fit-content;
  height: 20px;
  margin: 10px 0px;
  border: 2px #f2f2f2 solid;
  border-radius: 30px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.filtre i {
  position: absolute; /* this child has to start at a fixed position and is the upper */
  top: -2px;
  left: -2px;
  background-color: #deebff;
  color: #0065fc;
  font-size: 0.9em;
  border-radius: 30px;
  min-width: 22px;
  min-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtre span {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 0.8em;
  border: none;
  background-color: white;
  padding: 0px 5px 0px 25px;
}
#info {
  display: inline-block;
  text-align: center;
  background-color: white;
  color: #0065fc;
  width: 10px;
  height: 10px;
  padding: 2px;
  font-size: 0.8em;
  border-radius: 30px;
  border: 2px #f2f2f2 solid;
}
#results {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  height: 400px;
}
aside {
  width: 35%;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
#pop {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
aside img {
  width: 40%;
  height: 60px;
}
#hebergements {
  width: 60%;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
#hebergements h1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#hebergements article {
  flex-flow: row wrap;
  width: 30%;
  height: 30%;
}
#hebergements img {
  width: 100%;
  height: 60px;
}
aside,
footer,
#hebergements {
  background-color: #f2f2f2;
}
#activites-1 img {
  width: 150px;
  height: 250px;
}
#activites-2 img {
  width: 150px;
  height: 125px;
}
footer {
  display: flex;
  justify-content: flex-start;
}
footer article {
  margin: 1% 5%;
}
@media screen and (min-width: 768px) {
  #isea {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #ibut {
    display: none;
  }
}
